<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jkmAmusements</title>

    <!-- 
    - custom css link
  -->

    <link rel="stylesheet" href="{% static "assets/css/style2.css" %}">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="body">
    <!--
// v0 by Vercel.
// https://v0.dev/t/crpCRvDjHll
-->

    <div>
      <header></header>

      <main>
        <div class="allArticle">
          <article>
            <h1 class="fancy-heading">
              The Power of Storytelling in Web Design
            </h1>

            <div class="meta-info">
              <span>By Jane Smith</span>
              <span>•</span>
              <span>April 24, 2024</span>
            </div>

            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
            <p>
              In a world where digital experiences are ubiquitous, the power of
              storytelling in web design cannot be overstated. By leveraging the
              art of narrative, designers can create captivating and memorable
              experiences that resonate with users on a deeper level. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia esse vero
              suscipit quod, itaque incidunt quis error aspernatur laudantium
              facere recusandae excepturi cum modi. At excepturi repellendus
              iste eveniet illo.
            </p>
          </article>

          <div class="button-container">
            <button class="circle-button">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </button>

            <button class="circle-button">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </div>
        </div>
      </main>
    </div>

    <footer class="footer">
      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            &copy; 2024 <a href="">jkmAmusements</a>. All rights reserved.
            Designed with ❤️ by Saurav
          </p>

          <ul class="footer-bottom-list">
            <li>
              <a href="#" class="footer-bottom-link">Privacy Policy</a>
            </li>

            <li>
              <a href="#" class="footer-bottom-link">Term & Condition</a>
            </li>

            <li>
              <a href="#" class="footer-bottom-link">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
