<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Ticket Total Table</title>
</head>
<body>
    <h1>User Ticket Total Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Total Tickets Generated</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user_ticket_total in user_ticket_totals %}
            <tr>
                <td>{{ user_ticket_total.user }}</td>
                <td>{{ user_ticket_total.total_tickets_generated }}</td>
                <td>{{ user_ticket_total.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Total Tickets Generated</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.user }}</td>
                <td>{{ ticket.num_tickets_generated }}</td>
                <td>{{ ticket.generated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    Today's Total Tickets: {{ today_data.num_tickets_generated__sum }}


</body>
</html>
